#drop-zone {
  display: flex;
  width: 600px;
  height: 300px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: #18141D90;
  border-radius: 30px;
  border-style: dashed;
  border-color: #8B838F;
  border-width: 4px;
  max-width: 588px;
  cursor: pointer;
  transition: 300ms;
}

#drop-zone:hover {
  background-color: #18141dc0;
  transition: 300ms;
  scale: 1.01;
}

.drop-zone-text {
  font-family: 'Roboto Slab', serif;
  color: #D6D6D660;
  font-size: 30px;
  text-align: center;
}

.info-text {
  font-family: 'Roboto Slab', serif;
  color: #D6D6D680;
  font-size: 15px;
  text-align: center;
  text-shadow: 0 0 6px #000000, 0 0 10px #000000;
}