.footer-text {
  color: #D6D6D6;
  font-size: 15px;
  margin-right: 20px;
}

.github-cat {
  filter: invert(0);
  transition: 300ms;
}

.github-cat:hover {
  filter: invert(48%);
  transition: 300ms;
}